<!-- categories -->
{{ if isset site.Taxonomies "categories" }}
{{ if not (eq (len site.Taxonomies.categories) 0) }}
<div class="widget category-widget">
  <div class="widget-title">
    <h3 class="h5 title-border">{{ site.Params.categories_title }}</h3>
  </div>

  <ul class="list-group list-unstyled">
    <li>
      <a href="{{ relref "blog/digital-income-ideas.md" }}" class="d-flex">
        Make Money Online Ideas
      </a>
    </li>
    <li>
      <a href="{{ relref "blog/monetize-a-blog.md" }}" class="d-flex">
        Make Money Blogging
      </a>
    </li>
    <li>
      <a href="{{ relref "blog/best-freelance-websites.md" }}" class="d-flex">
        Best Freelance Sites
    </li>
    <li>
      <a href="{{ relref "blog/creative-side-hustles.md" }}" class="d-flex">
        Top Side Hustles
      </a>
    </li>
  </ul>
</div>
