{{ define "main" }}

<!-- Checking if the content belongs to specific blog-related sections -->
{{ if or (eq .Section "post") (eq .Section "posts") (eq .Section "blog") (eq .Section "blogs") (eq .Section "news") (eq .Section "categories") (eq .Section "tags") }}

<!--=================== section start ===================-->
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-5 mb-lg-0">
        <!-- image path -->
        {{ $imagePath := .Params.image }}
        {{ $altText := .Params.alt | default .Title }} <!-- Fetching alt text from front matter, fallback to post title -->
        {{ if $imagePath }}
        <div class="position-relative">
          <!-- Updated to include alt text -->
          {{ partial "image.html" (dict "Src" $imagePath "Alt" $altText "Class" "img-fluid mb-5 w-100 rounded-4" ) }}
          <ul class="list-inline card-badge">
            {{ range .Params.categories }}
            <li class="list-inline-item">
              <a href="{{`categories/` | relLangURL}}{{. | lower | urlize}}" class="badge badge-primary py-1">{{. | title}}</a>
            </li>
            {{ end }}
          </ul>
        </div>
        {{ else }}
        {{ range .Params.categories }}
        <a href="{{`categories/` | relLangURL}}{{. | lower | urlize}}" class="badge badge-primary mb-4 d-inline-block">{{. | title}}</a>
        {{ end }}
        {{ end }}
        <h1 class="h3 mb-4">{{.Title | markdownify}}</h1>
        <ul class="list-inline card-meta d-flex align-items-center mb-4">
          <li class="list-inline-item d-flex align-items-center">
            <i class="fas fa-user me-2"></i>
            <a href="{{`about` | relLangURL}}">{{site.Params.author}}</a>
          </li>
          <li class="list-inline-item d-flex align-items-center">
            <i class="fas fa-calendar me-2"></i>
            <span>{{ time.Format ":date_long" .PublishDate }}</span>
          </li>
        </ul>
        <div class="content drop-cap">{{.Content}}</div>
        <!-- disqus comments -->
        {{ if .Site.DisqusShortname }}
        <div class="border rounded p-4">
          {{ template "_internal/disqus.html" . }}
        </div>
        {{ end }}
      </div>
      <!-- sidebar widgets -->
      <aside class="col-lg-4">
        {{ $widget := site.Params.widgets.sidebar }}
        {{ partialCached "widgets/widget-wrapper" ( dict "Widgets" $widget "Scope" . )}}
      </aside>
    </div>
  </div>
</section>
<!--=================== Blog Section End ===================-->

<!-- Handling regular pages -->
{{ else }}
{{ partial "page-header.html" . }}
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="content">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /regular page -->

{{ end }}
