<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "@id": "https://earnonlinemoney.org/",
    "inLanguage": "en",
    "name": "text.Earnonlinemoney.org",
    "url": "https://earnonlinemoney.org/",
    "publisher": {
      "@id": "https://earnonlinemoney.org/#org"
    },
    "author": {
      "@type": "Person",
      "@id": "https://earnonlinemoney.org/#maker",
      "name": "Dejuan",
      "url": "https://baldanders.info/profile/",
      "image": "https://earnonlinemoney.org/images/avatar.jpg"
    },
    "image": "https://earnonlinemoney.org/images/avatar.jpg",
    "description": "Ultimate guide to earn money online free, quick or easy. Find trending side hustles, passive income ideas, cash injections online jobs & more."
  }
  </script>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "@id": "https://earnonlinemoney.org/#org",
    "name": "text.Earnonlinemoney.org",
    "logo": {
      "@type": "ImageObject",
      "@id": "https://earnonlinemoney.org/#logo",
      "url": "https://earnonlinemoney.org/images/make-money-online-free.jgp"
    }
  }
  </script>