{{ $imageParams := . }}
{{ $src := $imageParams.Src }}
{{ $alt := $imageParams.Alt | default "Default Alt Text" }}
{{ $class := $imageParams.Class | default "default-class" }}

{{ $image := resources.Get $src }}
{{ $fallbackImagePath := "images/fallback.jpg" }}
{{ $fallbackImage := resources.Get $fallbackImagePath }}

{{ if $image }}
  {{ $resizedImage := $image.Resize "1110x0 q90" }}
  <img src="{{ $resizedImage.RelPermalink }}" alt="{{ $alt }}" class="{{ $class }}">
{{ else if $fallbackImage }}
  {{ $resizedFallback := $fallbackImage.Resize "1110x0 q90" }}
  <img src="{{ $resizedFallback.RelPermalink }}" alt="Fallback Image" class="{{ $class }}">
{{ else }}
  <p>Error: Image not found, and no valid fallback image provided.</p>
{{ end }}
